@model ProductCatalog.DAL.Entities.Product

@{
    ViewData["Title"] = "Удалить продукт";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="DeleteProduct" class="form-auth">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralNote)
            </th>
        </tr>
    </thead>
    </table>
        <input type="submit" value="Удалить продукт" />
        <a asp-action="Index">Назад</a>
    </form>
