@model ProductCatalog.DAL.Entities.User

@{
    ViewData["Title"] = "Удалить пользователя";
}

@TempData["successMessage"]
@TempData["errorMessage"]
<hr />
<form asp-action="DeleteUser" class="form-auth">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TokenCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TokenExpires)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Blocked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
            </tr>
        </thead>
    </table>
    <input type="submit" value="Удалить пользователя" />
    <a asp-action="Panel">Назад</a>
</form>
