@model IEnumerable<ProductCatalog.DAL.Entities.Product>

@{
    ViewData["Title"] = "Table";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralNote)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ProductName)
                </td>
              
                <td>
                    @Html.DisplayFor(i => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(i => item.SpecialNote)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(i => item.GeneralNote)
                </td>
                <td>
                    @Html.ActionLink("CreateProducts", "CreateProducts", new {id=item.Id})
                    @Html.ActionLink("EditProduct", "EditProduct", new {id=item.Id})
                    @Html.ActionLink("DeleteProduct", "DeleteProduct", new {id=item.Id})

                </td>
            </tr>
        }
    </tbody>
</table>