@model IEnumerable<ProductCatalog.DAL.Entities.Product>

@{
    ViewData["Title"] = "Table";
}

@TempData["successMessage"]
@TempData["errorMessage"]

<br/>
<a asp-action="CreateProducts">Добавить продукт</a>
<a asp-action="CreateCategory">Добавить категорию</a>
<a asp-action="EditCategory">Изменить категорию</a>
<a asp-action="DeleteCategory">Удалить категорию</a>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <span>Введите поле по которому поиск:</span>
    <input type="text" name="searchBy" placeholder="ProductName"/>
    <span>Введиет то, что хотите найти:</span>
    <input type="text" name="name" placeholder="Lays"/>
    <input type="submit" value="Search" name="submit"/>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralNote)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(i => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(i => item.SpecialNote)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(i => item.GeneralNote)
                </td>
                <td>
                    @Html.ActionLink("EditProduct", "EditProduct", new {id=item.Id})
                    @Html.ActionLink("DeleteProduct", "DeleteProduct", new {id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>

